<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fenrir Application</title>
</head>
<body>
    <h1>Welcome to the Fenrir Application</h1>
    <p>This is the home page.</p>
    <p>hey yyaa</p>
    {% for name in data %}
        <p><strong>Data:</strong> {{ name }}</p>
    {% endfor %}

    {% for key, value in env.items() %}
        <p><strong>{{ key }}:</strong> {{ value }}</p>
    {% endfor %}

</body>

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: black;
        margin: 0;
        padding: 20px;
    }
    h1 {
        color: #6e9a23;
    }
    p {
        color: #476939;
    }
</style>
</html>
